<p>continentname works!</p>

<input type="text" class="form-control"  #myInput   (keydown.enter)="OnInput(myInput.value)">

<br><br>
<div *ngFor="let item of countryData">
  <div class="card">
    <h5 class="card-header">{{item.name}}</h5>
    <div class="card-body">
      <p class="card-text">Country Code : {{item.alpha3Code}}</p>
      <p class="card-text">Country Capital : {{item.capital}}</p>
      <p class="card-text">Country Region : {{item.region}}</p>

    </div>
  </div>
  </div>
  <br>
